# BOT EO configuration file

# specify which acquisition sequences to run
#
[ACQUIRE]
dark

# Dark
#
[DARK]
BCOUNT = 1         # number of bias frames per dark image
dark = 0.1    1,   # integration times (seconds) and image count for dark set
       1.0    1,
       4.0    1
