# BOT EO configuration file

# specify which acquisition sequences to run
#
[ACQUIRE]
bias

# Bias
#
[BIAS]
COUNT=10         # number of bias frames, for BIAS image & noise analysis
# LOCATION=R01,R03,R10,R14,R22,R23,R30,R34,R41,R43
LOCATIONS=R01,R03,R10,R20,R30,R41,R43,R34,R24,R14,R02,R12,R22,R23

