# We need to compute e/pixel/sec given a combination of neutral density and wavelength filters
# We assume the neutral density and wavelength filter combination can be factored into an attenuation
# factor for each filter separately. We also need to know the e/pixel/sec if no filter was installed.
[WBLED]
source = 100
red    = 1.
blue   = 1.
uv     = 1.
nm750  = 1.
nm850  = 1.
nm960  = 1.
[WBCURRENT]
source = 100
red    = 1.
blue   = 1.
uv     = 1.
nm750  = 1.
nm850  = 1.
nm960  = 1.
