# BOT EO configuration file

# specify which acquisition sequences to run
#
[ACQUIRE]
fe55

# Fe55
#
[FE55]
BCOUNT=5        # number of bias frames per Fe55 set
FLAT=SDSS_r 100      # wavelength filter, signal(e-) count for Flat on top of Fe55
COUNT=10.0   5 # exposure time and image count for an fe55 data set

