# BOT EO configuration file

# specify which acquisition sequences to run
#
[ACQUIRE]
bias
flat


# Bias
#
[BIAS]
COUNT=5         # number of bias frames, for BIAS image & noise analysis

# Flat
#
[FLAT]
BCOUNT=1        # number of bias frames per flat image
WL    =SDSS_i   # wavelength filter to use for the flats
HILIM =800.0    # maximum seconds for a flat field exposure
LOLIM =0.025    # minimum seconds for a flat field exposure

flat=      100   ND_OD0.5,  # signal level desired, in e-/pixel, ND filter #
          1000   ND_OD0.4,
          3000   ND_OD0.3,
          3000   ND_OD0.2,
          3000   ND_OD0.1

